# Exercise: SQL Queries and Data Imputation

While this starter notebook provides a framework using Python and [DuckDB](https://duckdb.org/docs/api/python/overview.html) to complete this assignment, you may choose to work with any SQL database connector or SQL client of your preference.  

If you opt to use a different SQL client, please ensure your submission is:
1. A PDF document containing solutions to all questions. Make sure to clearly label each question and its corresponding output
2. For each query include:
    1. The SQL query you used to obtain the results
    2. The first 10 rows of the resulting table
    3. The total number of rows and columns in your result set

## Introduction:

In this exercise, you will gain hands-on experience with SQL and data imputation techniques.  
The dataset `poverty_raw_data.csv` for this exercise includes economic data from various countries (based on modified UN data).

## Load the dataset

Begin by loading the dataset into a pandas DataFrame using the following:

In [ ]:
import pandas as pd

file_name = "poverty_raw_data.csv"
data_df = pd.read_csv(file_name) # Download file and load

## Part 1: SQL Queries on the Raw Data

In this part, you will write and execute two **SQL queries** on the dataset using a Python library of your choice.  
For example, you can use [DuckDB](https://duckdb.org/docs/api/python/overview.html), which allows SQL queries to be run directly on pandas DataFrames.

1. Find all the countries in Latin America and the Caribbean (region code LAC) that conducted a national survey (based on the survey_coverage attribute). The query should return the country name, survey acronym, and the first year when the survey was conducted in this country. **Ensure there are no duplicate rows in the result.**

In [ ]:
# code goes here

2.	Write an SQL query to find the country (or countries, in case of a tie) in Sub-Saharan Africa (region code SSA) with the lowest average Personal Consumption Expenditures (reporting_pce). The query result should include the country name and its average PCE.

In [ ]:
# code goes here

## Part 2: Data Imputation

1.	Handle Missing Data:
The dataset includes three attributes with NULL values. For each attribute:
*   Choose an imputation method (either using sklearn.impute or your implementation).
*   Apply the imputation method to handle the NULL values in the DataFrame.
*	  Justify your choice of imputation methods.

In [ ]:
# code goes here

Text goes here...

2.	Re-run the Queries:
After imputing the NULL values:
*   Re-execute the SQL queries from Part 1 on the updated dataset.
* 	Discuss the results before and after imputation.

In [ ]:
# code goes here

Text goes here...

## Part 3: Decomposition

In this part, we will work with the new data after imputation â€“ use the results of an imputation method of your choice from part 2 (as stated above, different methods can be used for different attributes).

1.	**Functional Dependencies:**
   
   Identify at least two Functional Dependencies (FDs) in the dataset, excluding the record_id column (both FDs may involve the same left-hand side).

2.	**Decompose the Table:**

*  Based on the identified FDs, decompose the table into several tables.
*  Design and document the database schema for the decomposed table.
Submit this as a list of relations (including column names, keys, and foreign keys) or as an ERD.
Note: For simplicity, exclude attributes that are not used in the queries, FDs, or imputation.

3.	**Populate the Schema and Re-run Queries:**

*  Implement the decomposed schema using the imputed dataset from Part 2.
You can use pandas DataFrames (one for each relation) or any other implementation.
*  Rewrite the queries from Part 1 to match the decomposed schema.
*  Execute the rewritten queries and verify that their results match the results from Part 2.


**For the schemas and Diagrams you may add pdf file for submission**

In [ ]:
# code goes here

Text goes here...